{% load static %}

<!DOCTYPE html>
<html class="screen-top">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Saroga | Home</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://shuffle.dev/vendor/icons/css/fontello.css?v=h7b" id="bs-base-css">
  <style type="text/css" href="https://shuffle.dev/vendor/tailwind-flex/css/tailwind.min.css?v=bd4"></style>
  <style type="text/css" href="https://shuffle.dev/vendor/tailwind-flex/css/tailwind.min.css?v=bd4"></style>
  <style type="text/css" href="css2?family=Poppins:wght@400;500;600;700&display=swap"></style>
  <link rel="stylesheet" href="https://shuffle.dev/static/build/css/shuffle-preview.3a553ecf.css">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://shuffle.dev/vendor/tailwind-flex/js/main.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <!--Scripts for scroll animations-->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <!--FAVICON-->
  <link rel="icon" type="image/x-icon" href="../static/images/saroga_favicon.ico">
</head>


<body id="page" class="antialiased font-['Poppins'] bg-body text-body bg-slate-200 ">
  <div class="" id="content">
    <section class="relative bg-white overflow-hidden">
      <div class=>
        <nav class="flex justify-between p-6 px-4" data-config-id="toggle-mobile" data-config-target=".navbar-menu"
          data-config-class="hidden" style="background-color: #0f172a !important;">
          <div class="flex justify-between items-center w-full">
            <div class="w-1/2 xl:w-1/3">
              <a class="block max-w-max" href="{% url 'home' %}">
                <img class="h-8" src="../static/images/saroga_logo.png" alt="LOGO" data-config-id="auto-img-1-2"
                  style="transform: scale(2); padding-left: 30px"> </a>
            </div>
            <div class="w-1/2 xl:w-1/3">
              <ul class="text-slate-400hidden xl:flex xl:justify-center">
                <li class="mr-12"><a
                    class="text-slate-400 font-medium hover:text-white transition ease-in-out delay-150"
                    href="{% url 'about' %}" data-config-id="auto-txt-1-2" style=" font-size: 18px">About</a></li>
                <li class="mr-12"><a
                    class=" text-slate-400   font-medium hover:text-white transition ease-in-out delay-150"
                    href="{% url 'classes' %}" data-config-id="auto-txt-2-2" style=" font-size: 18px">Classes</a></li>
                <li class="mr-12"><a
                    class=" hover:text-white font-medium text-slate-400 transition ease-in-out delay-150"
                    href="{% url 'resources' %}" data-config-id="auto-txt-3-2" style=" font-size: 18px">Resources</a>
                </li>
                <li><a class=" hover:text-white  font-medium text-slate-400 transition ease-in-out delay-150"
                    href="{% url 'references' %}" data-config-id="auto-txt-4-2" style=" font-size: 18px"
                    id="responsivehide">References</a></li>
              </ul>
            </div>
            <div class="w-1/2 xl:w-1/3">
              <div class="hidden xl:flex items-center justify-end"><a
                  class="inline-block py-2 px-4 mr-2 leading-5 text-slate-400 hover:text-white bg-transparent font-medium rounded-md transition ease-in-out delay-150"
                  href="{% url 'login' %}" data-config-id="auto-txt-5-2" style="font-size: 18px">Log In</a><a
                  class="inline-block py-2 px-4 text-sm leading-5 text-green-50 border-2 border-solid border-green-500 hover:bg-green-500 transition ease-in-out delay-200 font-medium focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md"
                  href="{% url 'register' %}" data-config-id="auto-txt-6-2" style="font-size: 15px">Sign Up</a></div>
            </div>
          </div>
          <button class="navbar-burger self-center xl:hidden">
            <svg width="35" height="35" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
              data-config-id="auto-svg-1-2">
              <rect class="text-slate-400" width="32" height="32" rx="6" fill="currentColor"></rect>
              <path class="text-coolGray-400"
                d="M7 12H25C25.2652 12 25.5196 11.8946 25.7071 11.7071C25.8946 11.5196 26 11.2652 26 11C26 10.7348 25.8946 10.4804 25.7071 10.2929C25.5196 10.1054 25.2652 10 25 10H7C6.73478 10 6.48043 10.1054 6.29289 10.2929C6.10536 10.4804 6 10.7348 6 11C6 11.2652 6.10536 11.5196 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12ZM25 15H7C6.73478 15 6.48043 15.1054 6.29289 15.2929C6.10536 15.4804 6 15.7348 6 16C6 16.2652 6.10536 16.5196 6.29289 16.7071C6.48043 16.8946 6.73478 17 7 17H25C25.2652 17 25.5196 16.8946 25.7071 16.7071C25.8946 16.5196 26 16.2652 26 16C26 15.7348 25.8946 15.4804 25.7071 15.2929C25.5196 15.1054 25.2652 15 25 15ZM25 20H7C6.73478 20 6.48043 20.1054 6.29289 20.2929C6.10536 20.4804 6 20.7348 6 21C6 21.2652 6.10536 21.5196 6.29289 21.7071C6.48043 21.8946 6.73478 22 7 22H25C25.2652 22 25.5196 21.8946 25.7071 21.7071C25.8946 21.5196 26 21.2652 26 21C26 20.7348 25.8946 20.4804 25.7071 20.2929C25.5196 20.1054 25.2652 20 25 20Z"
                fill="currentColor"></path>
            </svg></button>

        </nav>
        <!--NAVBAR ENDING-->

        <!--Navbar script & styles-->
        <script>
          for (var i = 0; i < links.length; i += 1) {
            links[i].addEventListener('click', function (e) {
              e.preventDefault();
            });
          }

          var forms = document.getElementsByTagName('form');
          for (var i = 0; i < forms.length; i += 1) {
            forms[i].addEventListener('submit', function (e) {
              e.preventDefault();
            }, true);
          }
        </script>

        <style>
          @media screen and (min-width: 0px) and (max-width: 1272px) {
            .mr-12 {
              display: none;
            }

            #responsivehide {
              display: none;
            }
          }
        </style>

        <div class="navbar-menu hidden fixed top-0 z-50 left-0 w-full h-full bg-coolGray-900 bg-opacity-50">
          <div class="fixed top-0 left-0 bottom-0 w-full w-4/6 max-w-xs bg-coolGray-900"
            data-config-id="toggle-mobile-2" data-config-target=".navbar-menu" data-config-class="hidden">

          </div>
        </div>
      </div>
      <div class="relative pt-16 pb-20 md:pb-24 md:pt-32 " style="background-color: #0f172a !important;">
        <div class="container px-4 mx-auto">
          <div class="flex flex-wrap -mx-4">
            <div class="w-full md:w-1/2 px-4 mb-12 md:mb-0">
              <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-white bg-green-500 rounded-full"
                data-config-id="auto-txt-13-2" style="font-weight: bold; transform: scale(1.2)">Welcome!</span>
              <h1 class="mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight text-white font-bold leading-loose"
                data-config-id="auto-txt-14-2" style="line-height: 1.2" data-aos="fade-up"
                data-aos-anchor-placement="center-center">Online Yoga & Fitness Events</h1>
              <p class="mb-8 text-lg md:text-xl text-slate-400 font-medium" data-config-id="auto-txt-15-2"
                style="font-size: 21px; line-height: 2rem">We focus on improving our users' health, both mentally and
                physically, by
                offering free and interactive online yoga and fitness events.</p>
              <div class="flex flex-wrap mb-8 md:mb-16">
                <div class="w-full md:w-auto py-1 md:py-0 md:mr-4"><button type="button"
                    class="text-white transition ease-in-out delay-150 bg-green-500 hover:-translate-y-1 hover:scale-10 focus:ring-4 focus:outline-none focus:ring-green-300 font-large rounded-lg text-base px-6 py-3.5 text-center dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700"
                    style="font-size: 22px; font-weight: bold; width: 200px;">Get Started!
                  </button></div>
                <div class="w-full md:w-auto py-1 md:py-0"><button type="button"
                    class="transition ease-in-out delay-150 text-white bg-slate-700 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-base px-6 py-3.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800"
                    style="font-size: 20px; font-weight: bold;">Learn More</button></div>
              </div>

            </div>
          </div>
          <div class="w-full md:hidden px-4">
            <div class="relative w-58 mx-auto">
              <img
                class="absolute p-1 ml-2 sm:ml-4 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 w-10/12 object-cover rounded"
                src="flex-ui-assets/elements/dashboard.png" data-config-id="auto-img-7-2">
            </div>
          </div>
        </div>
      </div>
      <div
        class="sm:w-[28em] md:w-[38em] lg:w-[48em] 2xl:w-[58em] md:absolute md:-right-16 md:top-1/2 md:transform md:-translate-y-1/2 md:translate-x-1 lg:translate-x-22 xl:-translate-x-20 md:mt-24 hidden md:block">
        <img class="relative object-contain" data-aos="zoom-in-left" data-aos-delay="200"
          src="../static/images/landingdashimg.png" alt="" style=" " data-config-id="auto-img-9-2">
      </div>
  </div>

  </div>


  <div class="wave-bottom w-full">
    <svg viewbox="0 0 1440 116" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-2">
      <path
        d="M1440 51.4091H1090.08C833.336 51.4091 580.229 116 360 116C139.771 116 0 51.4091 0 51.4091V0H1440V51.4091Z"
        fill="#0f172a "></path>
    </svg>
  </div>


  </section>

  <!--section that talks about the meaning of the name-->
  <section class="relative overflow-hidden">
    <div class="relative  pt-12 lg:pt-20 pb-12 md:pb-24">
      <div class="container mx-auto px-4" style="margin-top: -1%">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
            <div class="w-full text-center lg:text-left">
              <div class="max-w-md mx-auto lg:mx-0">
                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading" data-aos="flip-left"
                  data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                  <span class="leading-relaxed text-[#2A3342]">Saroga is Gujrati for</span>
                  <span
                    class="before:block before:absolute before:-inset-2 before:-skew-y-2 before:bg-green-500 relative inline-block">
                    <span class="relative text-white">good health</span>
                  </span>
                </h2>
              </div>
              <div class="max-w-sm mx-auto lg:mx-0">
                <p class="mb-6 text-gray-400 text-md leading-loose pt-2 text-lg" data-aos="fade-up"
                  data-aos-anchor-placement="bottom-bottom">Here at Saroga, your health is our top priority.
                  Our mission is to create a safe and nurturing environment to encourage mindfulness and a healthy
                  lifestyle.
                </p>
                <div></div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4 flex items-center justify-center" data-aos="flip-left"
            data-aos-easing="ease-out-cubic" data-aos-duration="2000">
            <div class="relative" style="z-index: 0;">
              <img class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                src="https://aeliawellness.com.cy/wp-content/uploads/2019/11/1200-478618627-family-meditating-together-1024x683.jpg"
                alt="FAMILYDOINGYOGA" data-aos="zoom-in-up">

              <img class="hidden md:block absolute"
                style="top:3rem; right: -3rem; z-index: -1; filter: invert(45%) sepia(69%) saturate(479%) hue-rotate(89deg) brightness(94%) contrast(97%);"
                src="https://shuffle.dev/atis-assets/elements/bullets-gray-right.svg" alt="">
              <img class="hidden md:block absolute"
                style="bottom:2.5rem; left: -4.5rem; z-index: -1; filter: invert(45%) sepia(69%) saturate(479%) hue-rotate(89deg) brightness(94%) contrast(97%);"
                src="https://shuffle.dev/atis-assets/elements/bullets-gray-left.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Hidden navbar-->
    <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
      <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav class="relative flex flex-col py-6 px-6 h-full w-full bg-white border-r overflow-y-auto"
        style="background-color: #2A3342;">
        <div class="flex items-center mb-8 ">
          <img class="h-8" src="../static/images/saroga_logo.png" alt="LOGO" data-config-id="auto-img-1-2"
            style="transform: scale(2); padding-left: 30px"> </a>
          <a class="mr-auto text-3xl font-bold leading-none" href="#">
            <img class="h-10" src="atis-assets/logo/atis/atis-mono-black.svg" alt="" width="auto">
          </a>
          <button class="navbar-close">
            <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1"><a
                class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
                href="{% url 'about' %}">About</a></li>
            <li class="mb-1"><a
                class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
                href="{% url 'classes' %}">Classes</a></li>
            <li class="mb-1"><a
                class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
                href="{% url 'resources' %}">Resources</a></li>
            <li class="mb-1"><a
                class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded"
                href="{% url 'references' %}">References</a></li>

          </ul>
        </div>
        <div class="mt-auto">
          <div class="pt-6"><a
              class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-slate-400 hover:bg-gray-100 rounded-l-xl rounded-t-xl transition ease-in-out delay-150 text-white bg-slate-700 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-base px-6 py-3.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800"
              href="{% url 'login' %}">Sign In</a><a
              class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-green-400 hover:bg-green-100 rounded-l-xl rounded-t-xl transition ease-in-out delay-150 text-white bg-green-700 hover:bg-green-400 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-base px-6 py-3.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
              href="{% url 'register' %}">Sign Up</a></div>
          <p class="my-4 text-xs text-center text-gray-400">
            <span>© 2022 All rights reserved.</span>
          </p>

        </div>
      </nav>
    </div>
  </section>

  <div class="skew skew-top ml-for-radius">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-900" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
    </svg>
  </div>
  <div class="py-20 bg-gray-900 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
          <div class="max-w-md lg:mx-auto">
            <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-white bg-green-500 rounded-full"
              data-config-id="auto-txt-13-2" style="font-weight: bold; transform: scale(1.2)" data-aos="fade-up">Key
              Features</span>
            <h2 class=" my-2 text-4xl lg:text-5xl font-bold font-heading text-white " style="line-height: 70px"
              data-aos="fade-down">Empowering Healthy Lifestyles</h2>
            <p class="mb-6 text-gray-500 leading-loose pt-3" data-aos="fade-down-right">Saroga is more than just
              online yoga classes. We are a community of students who care about empowering healthy lifestyles and
              building strength, balance, &amp; flexability through energizing yoga practice.</p>

            <ul class="text-gray-500 font-bold pt-2" style="transform: scale(1.1)" data-aos="fade-up-right">
              <li class="flex mb-4">
                <svg class="mr-2 w-6 h-6 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>Learn yoga, no matter what your skill level!</span>
              </li>
              <li class="flex mb-4">
                <svg class="mr-2 w-6 h-6 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>Join a community of dedicated learners!</span>
              </li>
              <li class="flex mb-4">
                <svg class="mr-2 w-6 h-6 text-green-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor">
                  <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                    clip-rule="evenodd"></path>
                </svg>
                <span>Lead a healthy &amp; balanced life!</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-full lg:w-1/2 flex flex-wrap -mx-4">
          <div class="mb-8 lg:mb-0 w-full md:w-1/2 px-4">
            <div class="mb-8 py-6 pl-6 pr-4 shadow-md rounded bg-gray-800" data-aos="fade-up" data-aos-duration="1000">
              <span class="mb-4 inline-block p-3 rounded-lg bg-green-800" style="transform: scale(1.3)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                  style="transform: scale(1.3)">
                  <path
                    d="M.221 16.268a15.064 15.064 0 0 0 1.789 1.9C2.008 18.111 2 18.057 2 18a5.029 5.029 0 0 1 3.233-4.678 1 1 0 0 0 .175-1.784A2.968 2.968 0 0 1 4 9a2.988 2.988 0 0 1 5.022-2.2 5.951 5.951 0 0 1 2.022-.715 4.994 4.994 0 1 0-7.913 6.085 7.07 7.07 0 0 0-2.91 4.098zM23.779 16.268a7.07 7.07 0 0 0-2.91-4.1 4.994 4.994 0 1 0-7.913-6.086 5.949 5.949 0 0 1 2.022.715 2.993 2.993 0 1 1 3.614 4.74 1 1 0 0 0 .175 1.784A5.029 5.029 0 0 1 22 18c0 .057-.008.111-.01.167a15.065 15.065 0 0 0 1.789-1.899z"
                    fill="#22c55e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                  <path
                    d="M18.954 20.284a7.051 7.051 0 0 0-3.085-5.114A4.956 4.956 0 0 0 17 12a5 5 0 1 0-8.869 3.17 7.051 7.051 0 0 0-3.085 5.114 14.923 14.923 0 0 0 1.968.849C7.012 21.088 7 21.046 7 21a5.031 5.031 0 0 1 3.233-4.678 1 1 0 0 0 .175-1.785A2.964 2.964 0 0 1 9 12a3 3 0 1 1 6 0 2.964 2.964 0 0 1-1.408 2.537 1 1 0 0 0 .175 1.785A5.031 5.031 0 0 1 17 21c0 .046-.012.088-.013.133a14.919 14.919 0 0 0 1.967-.849z"
                    fill="#22c55e" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                </svg>
              </span>
              <h4 class="mb-2 text-2xl font-bold font-heading text-white">Variety of Classes</h4>
              <p class="text-gray-500 leading-loose">We offer a variety of classes - anyone can become a teacher and
                create one!</p>
            </div>
            <div class="py-6 pl-6 pr-4 shadow-md rounded bg-gray-800" data-aos="fade-up" data-aos-duration="1000">
              <span class="mb-4 inline-block p-3 rounded-lg bg-green-800" style="transform: scale(1.3)">
                <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"
                  style="transform: scale(1.4)">
                  <g fill="none" fill-rule="evenodd" stroke="#22c55e" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" transform="translate(3 3)">
                    <path d="m.5.5v12c0 1.1045695.8954305 2 2 2h11.5" />
                    <path d="m3.5 8.5v3" />
                    <path d="m7.5 5.5v6" />
                    <path d="m11.5 2.5v9" />
                  </g>
                </svg>
              </span>
              <h4 class="mb-2 text-2xl font-bold font-heading text-white">Detailed Analytics</h4>
              <p class="text-gray-500 leading-loose">After each session, detailed analytics are generated, allowing
                users to assess their progress</p>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:mt-20 px-4">
            <div class="mb-8 py-6 pl-6 pr-4 shadow-md rounded-lg bg-gray-800" data-aos="fade-up"
              data-aos-duration="1000">
              <span class="mb-4 inline-block p-3 rounded bg-green-800">
                <svg class="w-10 h-10 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M16 4v12l-4-2-4 2V4M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                </svg>
              </span>
              <h4 class="mb-2 text-2xl font-bold font-heading text-white">Comprehensive Resources </h4>
              <p class="text-gray-500 leading-loose">We created a diverse list of resources, which helps newcomers
                learn the art of yoga</p>
            </div>
            <div class="py-6 pl-6 pr-4 shadow-md rounded-lg bg-gray-800" data-aos="fade-up" data-aos-duration="1000">
              <span class="mb-4 inline-block p-3 rounded bg-green-800" style="transform: scale(1.3) ">
                <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"
                  style="transform: scale(1.3)">
                  <g fill="#22c55e" fill-rule="evenodd" stroke="#22c55e" stroke-linecap="round" stroke-linejoin="round"
                    transform="translate(3 3)">
                    <path
                      d="m14 1c.8284271.82842712.8284271 2.17157288 0 3l-9.5 9.5-4 1 1-3.9436508 9.5038371-9.55252193c.7829896-.78700064 2.0312313-.82943964 2.864366-.12506788z" />
                    <path d="m6.5 14.5h8" />
                    <path d="m12.5 3.5 1 1" />
                  </g>
                </svg>
              </span>
              <h4 class="mb-2 text-2xl font-bold font-heading text-white">Custom Learning Tracks</h4>
              <p class="text-gray-500 leading-loose">We offer custom learning tracks - based on your interests! </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skew skew-bottom mr-for-radius  ">
    <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-900" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="currentColor" points="0 0 10 0 0 10"></polygon>
    </svg>
  </div>
  </section>

  <!--How it works section-->
  <section>
    <div class="skew skew-top ml-for-radius">
      <svg class="h-8 md:h-12 lg:h-20 w-full text-gray-900" viewBox="0 0 10 10" preserveAspectRatio="none">
        <polygon fill="currentColor" points="0 10 10 0 10 10"></polygon>
      </svg>
    </div>
    <div class="py-20 bg-gray-900 radius-for-skewed">
      <div class="container mx-auto px-4">
        <div class="mb-16 max-w-md text-center mx-auto">
          <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-white bg-green-500 rounded-full"
            data-config-id="auto-txt-13-2" style="font-weight: bold; transform: scale(1.2)" data-aos="fade-up">How It
            Works</span>
          <h2 class="text-4xl lg:text-5xl font-bold font-heading text-white pt-2" data-aos="zoom-in-right">It's as
            simple as:</h2>
        </div>
        <div class="relative flex flex-wrap -mx-4 z-0">
          <div class="hidden lg:block absolute inset-x-0 max-w-2xl xl:max-w-3xl mx-auto py-px rounded bg-green-600"
            style="top: 10%; z-index: -1;"></div>
          <div class="mb-8 w-full lg:w-1/3 px-4 text-center">
            <span
              class="relative mb-6 lg:mb-10 mx-auto flex w-16 h-16 items-center justify-center bg-green-600 rounded-full text-white text-2xl"
              data-aos="flip-up" data-aos-duration="1500">1</span>
            <h3 class="mb-4 text-2xl font-bold font-heading text-white" data-aos="flip-right">Create an Account!</h3>
            <p class="text-gray-500 leading-loose" data-aos="zoom-in-right">Creating an account is 100% free! We do not
              distribute your personal data to third party companies - all of your data is stored securely. Please view
              our <a href="{% url 'privacyPolicy' %}">privacy policy</a> to learn more</p>
          </div>
          <div class="mb-8 w-full lg:w-1/3 px-4 text-center">
            <span
              class="mb-4 lg:mb-10 mx-auto flex w-16 h-16 items-center justify-center bg-green-600 rounded-full text-white text-2xl"
              data-aos="flip-up" data-aos-duration="1500">2</span>
            <h3 class="mb-4 text-2xl font-bold font-heading text-white" data-aos="flip-right">Join a Live Class!</h3>
            <p class="text-gray-500 leading-loose" data-aos="zoom-in-right">You can choose from a variety of classes -
              ranging from yoga to mindfulness. Alternatively, if you are experienced in yoga, you can host one for
              free!</p>
          </div>
          <div class="w-full lg:w-1/3 px-4 text-center">
            <span
              class="mb-4 lg:mb-10 mx-auto flex w-16 h-16 items-center justify-center bg-green-600 rounded-full text-white text-2xl"
              data-aos="flip-up" data-aos-duration="1500">3</span>
            <h3 class="mb-4 text-2xl font-bold font-heading text-white" data-aos="flip-right">View Analytics &amp;
              Resources</h3>
            <p class="text-gray-500 leading-loose" data-aos="zoom-in-right">After a live session, you can view your
              analytics on the user dashboard, and assess your progress. You can also visit the resources screen to
              learn more about yoga and living a healthy life!</p>
          </div>
        </div>
      </div>
    </div>


  </section>

  <!--So what are you waiting for section-->
  <section class="relative py-20 md:py-28 bg-coolGray-900 overflow-hidden"
    style="background-image: url('https://shuffle.dev/flex-ui-assets/elements/pattern-dark.svg'); background-position: center;">
    <img class="absolute top-0 left-0 ml-4 lg:ml-12 mt-6 md:mt-12"
      src="https://shuffle.dev/flex-ui-assets/elements/dots3-blue.svg"
      style="filter: invert(45%) sepia(69%) saturate(479%) hue-rotate(89deg) brightness(94%) contrast(97%);">
    <img class="absolute bottom-0 right-0 mr-4 lg:mr-12 mb-6 md:mb-12"
      src="https://shuffle.dev/flex-ui-assets/elements/dots3-violet.svg"
      style="filter: invert(45%) sepia(69%) saturate(479%) hue-rotate(89deg) brightness(94%) contrast(97%);">
    <div class="relative container px-4 mx-auto">
      <div class="xl:max-w-4xl mx-auto text-center">
        <h2 class="mb-4 text-3xl md:text-4xl font-heading font-bold text-white" data-aos="zoom-in" aos-duration="2000">
          So what are you waiting for??</h2>
        <p class="mb-6 text-lg md:text-xl font-heading font-medium text-slate-400 pt-2" data-aos="flip-up"
          aos-duration="1500">Create a FREE Saroga account today, no matter your skill level, and join yoga sessions
          today!</p>
        <a class="inline-block py-3 px-7 w-full md:w-auto text-lg leading-7 text-green-50 bg-green-500 hover:bg-green-600 font-medium text-center focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 border border-transparent rounded-md shadow-sm"
          href="#" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Get Started</a>
      </div>
    </div>
  </section>


  <img id="greentrans" class="hidden md:block fixed bottom-0 left-0" src="../static/images/greentrans.png"
    style="pointer-events: none;" style="position: fixed;">

  <!--Script for hiding the greentrans on scroll-->
  <script>
    $(window).scroll(function () {
      var scrollTop = $(window).scrollTop();
      var height = $(window).height();
      $('#greentrans, .slogan').css({
        'opacity': ((height - scrollTop) / height)
      });
    });


  </script>

  <!--AOS Script-->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>


</html>