{% extends "base.html" %}

{% block title %}Saroga | Home{% endblock %}

{% block content %}
  <div class="navbar-menu hidden fixed top-0 z-50 left-0 w-full h-full bg-coolGray-900 bg-opacity-50">
    <div class="fixed top-0 left-0 bottom-0 w-full w-4/6 max-w-xs bg-coolGray-900"
    data-config-id="toggle-mobile-2" data-config-target=".navbar-menu" data-config-class="hidden">
    </div>
  </div>
  <div class="relative pt-16 pb-20 md:pb-24 md:pt-32 " style="background-color: #2A3342 !important;">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full md:w-1/2 px-4 mb-12 md:mb-0">
          <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-white bg-green-500 rounded-full"
            data-config-id="auto-txt-13-2" style="font-weight: bold; transform: scale(1.2)">Welcome!</span>
          <h1 class="mb-6 text-3xl md:text-5xl lg:text-6xl leading-tight text-white font-bold leading-loose"
            data-config-id="auto-txt-14-2" style="line-height: 1.2">Online Yoga & Fitness Events</h1>
          <p class="mb-8 text-lg md:text-xl text-slate-400 font-medium" data-config-id="auto-txt-15-2"
            style="font-size: 21px; line-height: 2rem">We focus on improving our users' health, both mentally and
            physically, by
            offering free and interactive online yoga and fitness events.</p>
          <div class="flex flex-wrap mb-8 md:mb-16">
          <div class="w-full md:w-auto py-1 md:py-0 md:mr-4"><button type="button"
            class="text-white transition ease-in-out delay-150 bg-green-500 hover:-translate-y-1 hover:scale-10 focus:ring-4 focus:outline-none focus:ring-green-300 font-large rounded-lg text-base px-6 py-3.5 text-center dark:bg-green-500 dark:hover:bg-green-600 dark:focus:ring-green-700"
            style="font-size: 22px; font-weight: bold; width: 200px;">Get Started!
          </button></div>
          <div class="w-full md:w-auto py-1 md:py-0"><button type="button"
            class="transition ease-in-out delay-150 text-white bg-slate-700 hover:bg-slate-400 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-base px-6 py-3.5 text-center dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800"
            style="font-size: 20px; font-weight: bold;">Learn More</button></div>
          </div>

        </div>
      </div>
      <div class="w-full md:hidden px-4">
        <div class="relative w-58 mx-auto">
          <img
            class="absolute p-1 ml-2 sm:ml-4 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 w-10/12 object-cover rounded"
            src="flex-ui-assets/elements/dashboard.png" data-config-id="auto-img-7-2"><img class="mx-auto"
            src="flex-ui-assets/images/headers/mockup-dark1.png" alt="" data-config-id="auto-img-8-2">
        </div>
      </div>
    </div>
  </div>
  <div
    class="md:absolute md:-right-96 md:top-1/2 md:transform md:-translate-y-1/2 md:translate-x-64 lg:translate-x-32 xl:-translate-x-7 md:mt-24 hidden md:block">
    <img class="absolute left-12 top-1/2 transform -translate-y-64"
      src="https://shuffle.dev/flex-ui-assets/elements/circle4-yellow.svg" alt=""
      data-config-id="auto-img-11-2"><img class="relative z-10"
      src="https://shuffle.dev/flex-ui-assets/images/headers/mockup-dark2.png" alt=""
      data-config-id="auto-img-9-2"><img class="absolute z-20 top-6 left-36 transform translate-x-4"
      src="flex-ui-assets/elements/dashboard.png" data-config-id="auto-img-10-2" data-removed="true">
  </div>
  
  <div class="wave-bottom w-full text-coolGray-900">
    <svg viewbox="0 0 1440 116" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-3-2">
      <path
        d="M1440 51.4091H1090.08C833.336 51.4091 580.229 116 360 116C139.771 116 0 51.4091 0 51.4091V0H1440V51.4091Z"
        fill="#2A3342 "></path>
    </svg>
  </div>
  </section>
  </div>

  <div class="wave wave-top w-full text-coolGray-900">
    <svg viewBox="0 0 1440 116" fill="none" xmlns="http://www.w3.org/2000/svg" data-config-id="auto-svg-1-1">
      <path d="M1440 64.5909H1090.08C833.336 64.5909 580.229 -7.62939e-06 360 -7.62939e-06C139.771 -7.62939e-06 0 64.5909 0 64.5909V116H1440V64.5909Z" fill="#2A3342"></path>
    </svg>
  </div>




  <!--section that talks about the meaning of the name-->
  <section class="relative overflow-hidden">
    
    
    <div class="relative bg-gray-50 pt-12 lg:pt-20 pb-12 md:pb-24" style="background-image: url('https://shuffle.dev/flex-ui-assets/elements/pattern-dark2.svg');">
      <div class="container mx-auto px-4" style="margin-top: -6%">
        <div class="flex flex-wrap -mx-4">
          <div class="w-full lg:w-1/2 px-4 mb-12 md:mb-20 lg:mb-0 flex items-center">
            <div class="w-full text-center lg:text-left">
              <div class="max-w-md mx-auto lg:mx-0">
                <h2 class="mb-3 text-4xl lg:text-5xl font-bold font-heading ">
                  <span class = "leading-relaxed text-white">Saroga is Gujrati for</span>
                  <span class="text-green-500">good health</span>
                </h2>
              </div>
              <div class="max-w-sm mx-auto lg:mx-0">
                <p class="mb-6 text-gray-400 leading-loose">Here at Saroga, your health is our top priority. lorem
                  loremloremloremloremloremloremloremloremlorem
                  loremloremloremloremloremloremloremloremlorem
                </p>
                <div></div>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4 flex items-center justify-center">
            <div class="relative" style="z-index: 0;">
              <img class="h-128 w-full max-w-lg object-cover rounded-3xl md:rounded-br-none"
                src="https://aeliawellness.com.cy/wp-content/uploads/2019/11/1200-478618627-family-meditating-together-1024x683.jpg"
                alt="">
              <img class="hidden md:block absolute" style="top:-2rem; right: 3rem; z-index: -1;"
                src="atis-assets/elements/green-dark-up.svg" alt="">
              <img class="hidden md:block absolute" style="bottom:-2rem; right: -2rem; z-index: -1;"
                src="atis-assets/elements/wing-green-down.svg" alt="">
              <img class="hidden md:block absolute" style="top:3rem; right: -3rem; z-index: -1;"
                src="https://shuffle.dev/atis-assets/elements/bullets-gray-right.svg" alt="">
              <img class="hidden md:block absolute" style="bottom:2.5rem; left: -4.5rem; z-index: -1;"
                src="https://shuffle.dev/atis-assets/elements/bullets-gray-left.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}