<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class = "overflow-hidden">
  <nav class="flex justify-between p-6 px-4" data-config-id="toggle-mobile" data-config-target=".navbar-menu"
  data-config-class="hidden" style="background-color: #2A3342 !important;">
  <div class="flex justify-between items-center w-full">
    <div class="w-1/2 xl:w-1/3">
      <a class="block max-w-max" href="#">
        <img class="h-8" src="https://i.ibb.co/MBCZ5N6/image-removebg-preview-4.png" alt="LOGO"
          data-config-id="auto-img-1-2" style="transform: scale(1.4); padding-left: 30px"> </a>
    </div>
    <div class="w-1/2 xl:w-1/3">
      <ul class="text-slate-400hidden xl:flex xl:justify-center">
        <li class="mr-12"><a
            class="text-slate-400 font-medium hover:text-white transition ease-in-out delay-150" href="#"
            data-config-id="auto-txt-1-2" style=" font-size: 18px">About</a></li>
        <li class="mr-12"><a
            class=" text-slate-400   font-medium hover:text-white transition ease-in-out delay-150" 
            href="{% url 'classes' %}"
            data-config-id="auto-txt-2-2" style=" font-size: 18px" >Classes</a></li>
        <li class="mr-12"><a
            class=" hover:text-white font-medium text-slate-400 transition ease-in-out delay-150" href="#"
            data-config-id="auto-txt-3-2" style=" font-size: 18px">Resources</a></li>
        <li><a class=" hover:text-white  font-medium text-slate-400 transition ease-in-out delay-150" href="#"
            data-config-id="auto-txt-4-2" style=" font-size: 18px">Upcoming</a></li>
      </ul>
    </div>
    <div class="w-1/2 xl:w-1/3">
      <div class="hidden xl:flex items-center justify-end"><a
          class="inline-block py-2 px-4 mr-2 leading-5 text-slate-400 hover:text-white bg-transparent font-medium rounded-md transition ease-in-out delay-150"
          href="{% url 'login' %}" data-config-id="auto-txt-5-2" style="font-size: 18px">       </a> <!--DONT REMOVE THIS-->   <a 
          class="inline-block py-2 px-4 text-sm leading-5 text-green-50 border-2 border-solid border-green-500 hover:bg-green-500 transition ease-in-out delay-200 font-medium focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md"
          href="#" data-config-id="auto-txt-6-2" style="font-size: 15px">Back to Home</a></div>
    </div>
  </div>
  <button class="navbar-burger self-center xl:hidden">
    <svg width="35" height="35" viewbox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"
      data-config-id="auto-svg-1-2">
      <rect class="text-slate-400" width="32" height="32" rx="6" fill="currentColor"></rect>
      <path class="text-coolGray-400"
        d="M7 12H25C25.2652 12 25.5196 11.8946 25.7071 11.7071C25.8946 11.5196 26 11.2652 26 11C26 10.7348 25.8946 10.4804 25.7071 10.2929C25.5196 10.1054 25.2652 10 25 10H7C6.73478 10 6.48043 10.1054 6.29289 10.2929C6.10536 10.4804 6 10.7348 6 11C6 11.2652 6.10536 11.5196 6.29289 11.7071C6.48043 11.8946 6.73478 12 7 12ZM25 15H7C6.73478 15 6.48043 15.1054 6.29289 15.2929C6.10536 15.4804 6 15.7348 6 16C6 16.2652 6.10536 16.5196 6.29289 16.7071C6.48043 16.8946 6.73478 17 7 17H25C25.2652 17 25.5196 16.8946 25.7071 16.7071C25.8946 16.5196 26 16.2652 26 16C26 15.7348 25.8946 15.4804 25.7071 15.2929C25.5196 15.1054 25.2652 15 25 15ZM25 20H7C6.73478 20 6.48043 20.1054 6.29289 20.2929C6.10536 20.4804 6 20.7348 6 21C6 21.2652 6.10536 21.5196 6.29289 21.7071C6.48043 21.8946 6.73478 22 7 22H25C25.2652 22 25.5196 21.8946 25.7071 21.7071C25.8946 21.5196 26 21.2652 26 21C26 20.7348 25.8946 20.4804 25.7071 20.2929C25.5196 20.1054 25.2652 20 25 20Z"
        fill="currentColor"></path>
    </svg></button>

</nav>
  
  <section class="relative pt-16 pb-0 md:py-32 bg-coolGray-900" style="background-image: url('https://shuffle.dev/flex-ui-assets/elements/pattern-dark2.svg'); background-position: center;">
  <div class="container px-4 mx-auto mb-16">
    <div class="w-full md:w-3/5 lg:w-1/2">
      <div class="max-w-sm mx-auto"style="transform: scale(1.1)" >
        <div class="mb-5 text-center" style="margin-top: -10%;">
          <a class="inline-block mb-6" href="#">
            
          </a>
            <img class="h-16" src="https://i.ibb.co/HTRbjNn/Screenshot-2022-04-01-174301-removebg-preview.png" alt="" style="padding-left: 35.5%; transform: scale(1.4); margin-top: -12%; margin-bottom: 5%" >

          <h3 class="mb-4 text-2xl md:text-3xl font-bold text-white">Sign in to your account</h3>
          <p class="text-lg text-slate-400 font-medium">Join a yoga session today!</p>
        </div>
        <form action="">
          <div class="mb-6">
            <label class="block mb-2 text-white font-medium" for="">Username</label>
            <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" type="text" placeholder="Please enter your username">
          </div>
          <div class="mb-4">
            <label class="block mb-2 text-white font-medium" for="">Password</label>
            <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" type="password" placeholder="Please enter your password">
          </div>
          <div class="flex flex-wrap items-center justify-between mb-6">
            <div class="w-full md:w-1/2">
              <label class="relative inline-flex items-center">
                <input class="form-checkbox appearance-none" type="checkbox">
                <img class="absolute top-1/2 transform -translate-y-1/2 left-0" src="flex-ui-assets/elements/sign-up/checkbox-icon.svg" alt="">
                <input type="checkbox" style="padding-left: 10px"> <span class="ml-2 text-xs text-white font-medium">Remember me</span>
              </label>
            </div>
            <div class="w-full md:w-auto mt-1"><a class="inline-block text-xs font-medium text-green-500 hover:text-green-600" href="#">Forgot your password?</a></div>
          </div>
          <a class="inline-block py-3 px-7 mb-6 w-full text-base text-green-50 font-medium text-center leading-6 bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm" href="#">Sign In</a>
          <p class="text-center">
            <span class="text-medium text-white font-medium">Don’t have an account?</span>
            <a class="inline-block text-large font-medium text-green-500 hover:text-green-600 hover:underline" href="#">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
  <img class="md:absolute md:top-0 md:right-0 mx-auto md:h-full md:w-2/5 lg:w-1/2 md:object-cover" src="https://images.unsplash.com/photo-1602192509154-0b900ee1f851?ixlib=rb1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwyMTI1MjE1fHxlbnwwfHx8fA%3D%3D&w=1000&q=80" style="padding-bottom: 10%; padding-right: 10%; padding-top: 5%">
</section>
</body>

</html>
