<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <section class="relative pt-16 pb-0 md:py-32 bg-coolGray-900" style="background-image: url('https://shuffle.dev/flex-ui-assets/elements/pattern-dark2.svg'); background-position: center;">
  <div class="container px-4 mx-auto mb-16">
    <div class="w-full md:w-3/5 lg:w-1/2">
      <div class="max-w-sm mx-auto">
        <div class="mb-6 text-center">
          <a class="inline-block mb-6" href="#">
            <img class="h-16" src="https://static.shuffle.dev/uploads/files/a6/a6e251427d9db1c997899ce873b80b83d4e5e2f7/Screenshot-2022-04-01-153427-removebg-preview.png" style="transform: scale(1.6)" alt="">
          </a>                                             
          <h3 class="mb-4 text-2xl md:text-3xl font-bold text-white">Sign in to your account</h3>
          <p class="text-lg text-slate-400 font-medium">Join a session today!</p>
        </div>
        <form action="">
          <div class="mb-6">
            <label class="block mb-2 text-white font-medium" for="">Username</label>
            <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" type="text" placeholder="username">
          </div>
          <div class="mb-4">
            <label class="block mb-2 text-white font-medium" for="">Password</label>
            <input class="appearance-none block w-full p-3 leading-5 text-coolGray-900 border border-coolGray-200 rounded-lg shadow-md placeholder-coolGray-400 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" type="password" placeholder="************">
          </div>
          <div class="flex flex-wrap items-center justify-between mb-6">
            <div class="w-full md:w-1/2">
              <label class="relative inline-flex items-center">
                <input class="form-checkbox appearance-none" type="checkbox">
                <img class="absolute top-1/2 transform -translate-y-1/2 left-0" src="flex-ui-assets/elements/sign-up/checkbox-icon.svg" alt="">
               <input type="checkbox" style="padding-left: 10px"> <span class="ml-2 text-xs text-white font-medium">Remember me</span>
              </label>
            </div>
            <div class="w-full md:w-auto mt-1"><a class="inline-block text-xs font-medium text-green-500 hover:text-green-600" href="#">Forgot your password?</a></div>
          </div>
          <a class="inline-block py-3 px-7 mb-6 w-full text-base text-green-50 font-medium text-center leading-6 bg-green-500 hover:bg-green-600 focus:ring-2 focus:ring-green-500 focus:ring-opacity-50 rounded-md shadow-sm" href="#">Sign In</a>
          <p class="text-center">
            <span class="text-medium text-white font-medium">Don’t have an account?</span>
            <a class="inline-block text-large font-medium text-green-500 hover:text-green-600 hover:underline" href="#">Sign up</a>
          </p>
        </form>
      </div>
    </div>
  </div>
  <img class="md:absolute md:top-0 md:right-0 mx-auto md:h-full md:w-2/5 lg:w-1/2 md:object-cover" src="https://static.shuffle.dev/uploads/files/a6/a6e251427d9db1c997899ce873b80b83d4e5e2f7/yogaafter.png" style="padding-top:10%; padding-bottom: 5%; padding-right: 5%; height: 85%; tranform: scale(1.4) ">

    
  
</section>
</body>

</html>