{% extends "base.html" %}
{% load static %}

{% block title %}Saroga | Resources{% endblock %}

{% block css %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://shuffle.dev/vendor/icons/css/fontello.css?v=h7b" id="bs-base-css">
<style type="text/css" href="https://shuffle.dev/vendor/tailwind-flex/css/tailwind.min.css?v=bd4"></style>
<style type="text/css" href="https://shuffle.dev/vendor/tailwind-flex/css/tailwind.min.css?v=bd4"></style>
<style type="text/css" href="css2?family=Poppins:wght@400;500;600;700&display=swap"></style>
<link rel="stylesheet" href="https://shuffle.dev/static/build/css/shuffle-preview.3a553ecf.css">
<link rel="stylesheet" href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" />
<link rel="stylesheet" href="{% static 'css/resources.css' %}">
<script src="https://shuffle.dev/vendor/tailwind-flex/js/main.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="{% static 'javascript/resources.js' %}"></script>

{% endblock %}

{% block content %}
<section class="py-8">
  <div class="container px-4 mx-auto">
    <div class="mb-8 p-8 bg-green-500 rounded">
      <div class="flex flex-wrap items-center -mx-4">
        <div class="w-full lg:w-2/3 px-4">
          <h2 class="text-4xl text-white font-bold">Resources</h2>
          <p class="text-green-50 pt-3 text-xl">We created detailed resources to assist you on your yoga journey! </p>
        </div>
        <div class="w-full lg:w-1/3 px-4 flex items-center">
          <img src="cool_img_here" alt="">
        </div>
      </div>
    </div>
    <div class="flex flex-wrap -mx-4">
      <div class="w-full lg:w-3/12 px-4 mb-8 lg:mb-0">
        <div class="p-2 bg-white rounded">
          <ul class="text-sm">
            <li>
              <a class="flex p-3 items-center font-medium bg-green-50 rounded text-green-500" href="#"
                id="introductiontext">
                <span class="mr-3">
                  <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"
                    style="transform: scale(1.4) ">
                    <g fill="none" fill-rule="evenodd" stroke="rgb(107 114 128)" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" transform="translate(4 3)">
                      <path
                        d="m2.5.5h9c.5522847 0 1 .44771525 1 1v12c0 .5522847-.4477153 1-1 1h-9c-1.1045695 0-2-.8954305-2-2v-10c0-1.1045695.8954305-2 2-2z" />
                      <path
                        d="m2.5 10.5h10v3c0 .5522847-.4477153 1-1 1h-9c-1.1045695 0-2-.8954305-2-2s.8954305-2 2-2z" />
                    </g>
                  </svg>
                </span>
                <span>Introduction</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
      <div class="w-full lg:w-9/12 px-4">
        <div class="flex items-center mb-8 px-3">
          <span class="inline-flex justify-center items-center w-16 h-16 mr-4 bg-green-500 rounded">
            <svg height="21" viewBox="0 0 21 21" width="21" xmlns="http://www.w3.org/2000/svg"
              style="transform: scale(1.8) ">
              <g fill="none" fill-rule="evenodd" stroke="white" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" transform="translate(4 3)">
                <path
                  d="m2.5.5h9c.5522847 0 1 .44771525 1 1v12c0 .5522847-.4477153 1-1 1h-9c-1.1045695 0-2-.8954305-2-2v-10c0-1.1045695.8954305-2 2-2z" />
                <path d="m2.5 10.5h10v3c0 .5522847-.4477153 1-1 1h-9c-1.1045695 0-2-.8954305-2-2s.8954305-2 2-2z" />
              </g>
            </svg>
          </span>
          <div>
            <h2 class="mb-1 text-3xl font-bold" id="titletext">Introduction</h2>
            <p class="text-large text-gray-500 font-medium">A brief introduction to yoga and it's benefits</p>
          </div>
        </div>
        <ul>
          <li class="py-5 px-6 mb-3 bg-white shadow rounded">
            <button class="w-full flex justify-between items-center" onclick="modalclick1()">
              <h3 class="text-xl font-bold">What Exactly Is Yoga?</h3>
              <span>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.08317 0.666657C8.74984 0.333323 8.24984 0.333323 7.91651 0.666657L4.99984 3.58332L2.08317 0.666657C1.74984 0.333323 1.24984 0.333323 0.916504 0.666657C0.583171 0.99999 0.583171 1.49999 0.916504 1.83332L4.41651 5.33332C4.58317 5.49999 4.74984 5.58332 4.99984 5.58332C5.24984 5.58332 5.4165 5.49999 5.58317 5.33332L9.08317 1.83332C9.41651 1.49999 9.41651 0.99999 9.08317 0.666657Z"
                    fill="#8594A5"></path>
                </svg>
              </span>
            </button>
            <p class=" mt-3 pr-6 text-large text-gray-500" id="element1" style="display: none;">Yoga is essentially a
              spiritual discipline based on an extremely subtle science, which focuses on bringing harmony between mind
              and body. Yoga brings the opportunity to develop a physical relationship between one's inner-being and
              their abstract nature. Yoga breaks down into individual branches, all which focus on developing a
              different part of the body and contain different excersises. <a
                href="https://www.mea.gov.in/search-result.htm?25096/Yoga:_su_origen,_historia_y_desarrollo"
                target="_blank" class="bg-gradient-to-r from-yellow-200 to-yellow-200 bg-no-repeat [background-position:0_88%] [background-size:100%_0.2em] motion-safe:transition-all motion-safe:duration-200
              hover:[background-size:100%_100%]
              focus:[background-size:100%_100%]
        "> Learn more about yoga here </a> </p>
          </li>
          <li class="py-5 px-6 mb-3 bg-white shadow rounded">
            <button class="w-full flex justify-between items-center" onclick="modalclick2()">
              <h3 class="text-xl font-bold">The Origion Of Yoga</h3>
              <span>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.08317 0.666657C8.74984 0.333323 8.24984 0.333323 7.91651 0.666657L4.99984 3.58332L2.08317 0.666657C1.74984 0.333323 1.24984 0.333323 0.916504 0.666657C0.583171 0.99999 0.583171 1.49999 0.916504 1.83332L4.41651 5.33332C4.58317 5.49999 4.74984 5.58332 4.99984 5.58332C5.24984 5.58332 5.4165 5.49999 5.58317 5.33332L9.08317 1.83332C9.41651 1.49999 9.41651 0.99999 9.08317 0.666657Z"
                    fill="#8594A5"></path>
                </svg>
              </span>
            </button>
            <p class=" mt-3 pr-6 text-large text-gray-500" id="element2" style="display: none;">The origions of yoga can
              be traced back to the Indus-Sarasvati civilization in Northern India - nearly 5,000 years ago! Yoga was
              first mentioned in the Rig Veda, an ancient collection of texts containing songs and rituals used by the
              Brahmans. Up to the late 1800s, yoga was not popular in places other than India. This began to change
              after Indian Yoga Masters (Yogi) began traveling to western countries to spread the art of yoga. Overtime,
              yoga was widely adopted in the west and remains one of the most popular fitness & mindfulness methods. <a
                href="https://www.yogabasics.com/learn/history-of-yoga/#:~:text=The%20beginnings%20of%20Yoga%20were,by%20Brahmans%2C%20the%20Vedic%20priests."
                target="_blank" class="bg-gradient-to-r from-yellow-200 to-yellow-200 bg-no-repeat [background-position:0_88%] [background-size:100%_0.2em] motion-safe:transition-all motion-safe:duration-200
              hover:[background-size:100%_100%]
              focus:[background-size:100%_100%]
        "> Learn more about the origions of yoga </a> </p>
          </li>
          <li class="py-5 px-6 mb-3 bg-white shadow rounded">
            <button class="w-full flex justify-between items-center" onclick="modalclick3()">
              <h3 class="text-xl font-bold">Modern Yoga Practices</h3>
              <span>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.08317 0.666657C8.74984 0.333323 8.24984 0.333323 7.91651 0.666657L4.99984 3.58332L2.08317 0.666657C1.74984 0.333323 1.24984 0.333323 0.916504 0.666657C0.583171 0.99999 0.583171 1.49999 0.916504 1.83332L4.41651 5.33332C4.58317 5.49999 4.74984 5.58332 4.99984 5.58332C5.24984 5.58332 5.4165 5.49999 5.58317 5.33332L9.08317 1.83332C9.41651 1.49999 9.41651 0.99999 9.08317 0.666657Z"
                    fill="#8594A5"></path>
                </svg>
              </span>
            </button>
            <p class=" mt-3 pr-6 text-large text-gray-500" id="element3" style="display: none;">Modern yoga consists of
              a variety of different poses and teqniques. Although different than traditional yoga, modern yoga still
              shares many similar characteristics of traditional yoga. Modern yoga places an emphasis on mental
              techniques, postures, concentration, mindfullness, and most importantly, good health, while traditional
              yoga focused more on the religious/abstract methods. <a href="https://slife.org/modern-yoga/"
                target="_blank" class="bg-gradient-to-r from-yellow-200 to-yellow-200 bg-no-repeat [background-position:0_88%] [background-size:100%_0.2em] motion-safe:transition-all motion-safe:duration-200
              hover:[background-size:100%_100%]
              focus:[background-size:100%_100%]
        "> Learn more about modern yoga practices </a> </p>
          </li>
          <li class="py-5 px-6 mb-3 bg-white shadow rounded">
            <button class="w-full flex justify-between items-center" onclick="modalclick5()">
              <h3 class="text-xl font-bold">Health Benefits</h3>
              <span>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.08317 0.666657C8.74984 0.333323 8.24984 0.333323 7.91651 0.666657L4.99984 3.58332L2.08317 0.666657C1.74984 0.333323 1.24984 0.333323 0.916504 0.666657C0.583171 0.99999 0.583171 1.49999 0.916504 1.83332L4.41651 5.33332C4.58317 5.49999 4.74984 5.58332 4.99984 5.58332C5.24984 5.58332 5.4165 5.49999 5.58317 5.33332L9.08317 1.83332C9.41651 1.49999 9.41651 0.99999 9.08317 0.666657Z"
                    fill="#8594A5"></path>
                </svg>
              </span>
            </button>
            <p class=" mt-3 pr-6 text-large text-gray-500" id="element5" style="display: none;">Practicing yoga leads to
              an abundance of both physical and mental health benefits. Physical benefits of yoga include better
              flexability, weight loss, increased muscle mass, maintenance of a high metabolism, and many more! Mental
              benefits of yoga include reduced stress levels, imporoved mental health, and increased concentration. <a
                href="https://osteopathic.org/what-is-osteopathic-medicine/benefits-of-yoga/" target="_blank" class="bg-gradient-to-r from-yellow-200 to-yellow-200 bg-no-repeat [background-position:0_88%] [background-size:100%_0.2em] motion-safe:transition-all motion-safe:duration-200
              hover:[background-size:100%_100%]
              focus:[background-size:100%_100%]
        "> Learn about more health benefits assosiated with yoga practice </a> </p>
          </li>
          <li class="py-5 px-6 mb-3 bg-white shadow rounded">
            <button class="w-full flex justify-between items-center" onclick="modalclick4()">
              <h3 class="text-xl font-bold">How Can I learn Yoga? </h3>
              <span>
                <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M9.08317 0.666657C8.74984 0.333323 8.24984 0.333323 7.91651 0.666657L4.99984 3.58332L2.08317 0.666657C1.74984 0.333323 1.24984 0.333323 0.916504 0.666657C0.583171 0.99999 0.583171 1.49999 0.916504 1.83332L4.41651 5.33332C4.58317 5.49999 4.74984 5.58332 4.99984 5.58332C5.24984 5.58332 5.4165 5.49999 5.58317 5.33332L9.08317 1.83332C9.41651 1.49999 9.41651 0.99999 9.08317 0.666657Z"
                    fill="#8594A5"></path>
                </svg>
              </span>
            </button>
            <p class=" mt-3 pr-6 text-large text-gray-500" id="element4" style="display: none;">Believe it or not, it is
              actually fairly simple to learn yoga! Please don't be discouraged! If you are a beginner, the easiest way
              to learn is to learn by watching and doing. Saroga offers many features that can help you learn yoga, such
              as our detailed recouses and guides, as well as our online yoga events. Additionally, you can join our
              community to connect with other students learning yoga! <a
                href="https://www.youtube.com/watch?v=v7AYKMP6rOE/" target="_blank" class="bg-gradient-to-r from-yellow-200 to-yellow-200 bg-no-repeat [background-position:0_88%] [background-size:100%_0.2em] motion-safe:transition-all motion-safe:duration-200
              hover:[background-size:100%_100%]
              focus:[background-size:100%_100%]
        "> This is a good video to learn when getting started with learning yoga </a> </p>
          </li>
        </ul>
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block js %}

{% endblock %}